body, button {
    font-family: Jost, sans-serif;
}

/*white background*/
.background {
    display: flex;
    justify-content: space-between;
    height: auto;
    background-color: white;
}

/* Navigation Bar */

nav {
    background-color: #d4d4d4;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-radius: 10px;
    box-sizing: border-box;
}

nav a, nav button {
    padding: 0 10px;
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.nav-left {
    display: flex;
    align-items: center;
}

.nav-right {
    display: flex;
    align-items: center;
    margin-left: auto;
}

nav a:hover{
    text-decoration: underline;
}

nav .logo{
    height: 100px;
    width: auto;
    
    border-radius: 20px;
}

.signout-button {
    background-color: #219E24;
    border-radius: 10px;
    padding: 10px 10px;
    color: white;
    text-align: center;
    border: none;
    cursor: pointer;
    margin-left: auto;
    margin-right: 20px;
}

.signout-button:hover {
    text-decoration: underline;
    
}

/* Body */

.container {
    width: 90%;
    background-color: #f8f8f8;
    padding: 20px;
    border-radius: 10px;
    display: inline-block;
    height: auto;
}

main {
    padding: 20px;
    text-align: center;
}

.pic {
    max-width: 100%;
    max-height: 100%;
    border-radius: 10px;
}

.img-container {
    position: relative;
}

.quote {
    position: absolute;
    bottom: 75%;
    left: 50%;
    transform: translateX(-50%);
    background-color: white;
    color: black;
    
    border-radius: 10px;
    text-align: center;
    padding: 10px;
    max-height: none;
    overflow: auto;
    padding: 10px 20px;
}

.leadership {
    font-size: 20px;
    font-weight: bold;
    line-height: 1.5;
}

.poole {
    color: gray;
    font-size: 20px;
}


